body {
  margin: 0;
  background-color: antiquewhite
}

.header {
  text-align: center;
  padding: 3% 2%;
  background-color: bisque;
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
}

.links {
  padding: 5px 10px;
  border-radius: 5px;
}

.links:hover {
  color:royalblue
}

.footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 2.5rem;
}

.image {
  width: 100%;
}

.header .content {
  padding: 10% 0%;
}

.inputArea {
  width: 80%;
  text-align: center;
  margin-left: auto;
}

.inputArea input {
  width: 35%;
  padding: 1.2% 2%;
  border: none;
  border-radius: 7px;
  background-color: azure;
  outline: none;
  box-shadow: 0px 0px 5px 0.5px rgba(16, 16, 16, 0.38);
}

.inputArea .add {
  padding: 0.5% 1.1%;
  border-style: none;
  border-radius: 100%;
  background-color: azure;
  outline: none;
  box-shadow: 0px 0px 5px 0.5px rgba(16, 16, 16, 0.38);
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.inputArea .add:hover {
  background-color: bisque;
}

.inputArea .calculate {
  padding: 1.5% 2%;
  border-radius: 5px;
  border-style: none;
  background-color: bisque;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0.5px rgba(16, 16, 16, 0.38);
  margin: 30px auto 0px;
}

.inputArea .main {
  background-color: beige;
  padding: 1% 5% 3%;
  margin: 0 auto;
}

.inputArea .time,
.inputArea .priority {
  width: 15%;
  margin-right: 15px;
}

.inputArea__task {
  background-color: antiquewhite;
  width: 80%;
  padding: 1%;
  margin: 2% auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px rgba(16, 16, 16, 0.38);
}

.inputArea__task h4 {
  font-size: 18px;
  margin: 5px;
  text-align: left;
  float: left;
}

.inputArea__task p {
  font-size: 15px;
  color: grey;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: right;
  padding-right: 20px;
}

.scheduledArea {
  background-color: antiquewhite;
  padding: 2% 5%;
}


.scheduledTask {
  background-color: azure;
  padding: 0.5% 0 1.5%;
  width: 90%;
  margin: 5px auto 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px rgba(16, 16, 16, 0.38);
  text-align: left;
}

.scheduledTask h3 {
  text-align: left;
  float: left;
  margin: 10px 20px;
}

.scheduledTask p {
  text-align: right;
  margin: 10px 20px 5px 0;
}

.todo {
  width: 80%;
  margin-left: auto;
  text-align: center;
  padding-top: 1%;
}

.todoInput {
  padding: 0.5% 2%;
  background-color: white;
  width: 80%;
  text-align: left;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px rgba(16, 16, 16, 0.38);
}

.todo input {
  width: 50%;
  padding: 1.5% 1%;
  outline: none;
  border-style: none;
}

.todo select {
  padding: 1%;
  margin-left: 5%;
  border-radius: 5px;
  outline: none;
}

.todo .date {
  width: 17%;
  margin-left: 10px;
  padding: 1.1%;
  border-radius: 5px;
  outline: none;
  border-style: solid;
  border-width: 1px;
}

.todo button {
  margin-left: 1%;
  padding: 1.1% 2.5%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  cursor: pointer;
  background-color: antiquewhite;
}

.todo button:hover {
  background-color: beige;
}

.listArea {
  background-color: lightgoldenrodyellow;
  padding: 1px 0 5px;
  margin: 3% auto 5%;
  width: 84%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px rgba(16, 16, 16, 0.38);
  text-align: left;
}

.listItem {
  padding: 10px 5px;
  background-color: bisque;
  border-style: none;
  border-top-style: solid;
  border-width: 1px;
  margin: auto;
}

hr {
  margin-top: 15px;
  border-style: solid none none none;
  border-width: 2px;
  color: grey;
}

.listItem h2 {
  float: left;
  margin: 9px 0 0 15px
}

.listItem p {
  margin: 2px 80px 2px auto;
  width: 30%;
  border-style: solid;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.Important {
  background-color: coral;
}

.Urgent {
  background-color: darkorange;
}

.Office {
  background-color: cornflowerblue;
}

.Work {
  background-color: darkturquoise;
}

.School {
  background-color: limegreen;
}

.Home {
  background-color: cyan;
}

.Other {
  background-color: cornsilk;
}

#invisible {
  color: bisque;
}

#delete {
  float: right;
  padding: 5px 10px 3px;
  margin-right: 20px;
  margin-top: -43px;
  color: red;
}

#delete:hover {
  color: crimson;
}
